body{
  background-color: rgb(177, 213, 243);
}

p#haveAccount:hover{
  text-decoration: underline;
}

form{
  width: 50%;
  padding: 10px;
  box-shadow: 8px 10px black;
  background-color: rgb(43, 64, 105);
  border-radius: 20px;
  color: white;
}

div#userInfo{
  position: absolute;
  top: 20px;
  right: 50px;
  padding: 20px 70px 20px 70px;
  border-radius: 40px;
  background-color: beige;
  box-shadow: 8px 10px;
  z-index: -1;
  
}

h3, h4{
  margin: 5px;
}

form#newListForm{
  display: none;
  color: black;
}

#card{
  background-color: beige;
  margin-top: 30px;
  width: 400px;
  height: 500px;
  border-radius: 40px;
  box-shadow: 8px 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}


h1.target{
  text-align: center;
  font-size: 150px;
  margin: 0px;
  width: 100%;
}

#block{
  display: inline;
}

div#block1{
  width: 50%;
  float: left;
}

div#block2{
  position: relative;
  float: right;
  right: 50px;
  top: 10px;
  background-color: beige;
  width: 30%;
  height: 400px;
  border-radius: 40px;
  box-shadow: 8px 10px;
  overflow: hidden;
}

li{
  text-align: justify;
}

#remaining{
  color: blue;
  padding-top: 10px;
}

button{
  background-color: white;
  color: black;
  border-style: double;
  border-radius: 5px;
}

button.listButton{
  margin-right: 20px;
}

h2{
  text-align: left;
}

h2#leaderboardHeading{
  text-align:center;
}

div#nextDiv{
  display: flex;
  justify-content: space-around;
}

p#correctness{
  font-size: 50px;
  position: relative;
  left: 15%;
}