body {
  background-color: #C7D4E0;
}

#homepage > h1 {
  z-index: 1;
  font-size: 50px;
  position: absolute;
  right: 50px;
  top: 100px;
}

#sign_in__account_toggle_link:hover {
  text-decoration: underline;
}

form {
  z-index: 3;
  color: #DDDDDF;
  width: 50%;
  padding: 10px;
  background-color: #376262CC;
  border-radius: 5px;
  color: white;
}

#user_info {
  width: 100%;
  height: 100px;
  text-align: right;
  color: #DDDDDF;
  position: absolute;
  top: 0;
  padding: 20px 70px 20px 70px;
  background-image: linear-gradient(to right, #C7D4E0 40%, #1B2020);
  font-size: 25px;
  z-index: -1;
  padding: 0px;
}

#user_info__welcome, #user_info__points {
  position: relative;
  right: 100px;
  top: 20px;
}

h3, h4 {
  margin: 5px;
}

#card {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #DDDDDF;
  background-image: linear-gradient(#376262CC 30%, #C7D4E0);
  margin-top: 30px;
  width: 400px;
  height: 450px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1.target {
  text-align: center;
  font-size: 150px;
  margin: 0px;
  width: 100%;
}

#create_list {
  display: inline;
  top: 450px;
  width: 50%;
}

#create_list__form {
  background-image: linear-gradient(to right, #376262CC 30%, #C7D4E0);
  color: #DDDDDF;
  position: absolute;
  top: 450px;
  display: none;
}

#study_list_selector {
  position: absolute;
  top: 220px;
  text-align: left;
  background-color: #C7D4E0;
}

#study_list_container {
  position: absolute;
  top: 300px;
  width: 50%;
  background-color: #C7D4E0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  text-align: justify;
  margin-bottom: 8px;
}

#currentUser {
  font-weight: bold;
  color: black;
}

ol {
  font-size: 25px;
  color: #C7D4E0;
}

button {
  background-color: #DDDDDF;
  color: black;
  border-style: double;
  border-radius: 5px;
}

button.listButton {
  margin-right: 20px;
  margin-bottom: 10px;
}

#leaderboard {
  color: #DDDDDF;
  position: absolute;
  float: right;
  right: 50px;
  bottom: 10px;
  background-image: linear-gradient(#376262CC 70%, #C7D4E0);
  width: 400px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  z-index: -2;
}

#leaderboard__heading {
  text-align: center;
}

#nextDiv {
  display: flex;
  justify-content: space-around;
}

#correctness {
  background-color: #1B2020;
  width: 100%;
  text-align: center;
  font-size: 30px;
  position: relative;
  margin: 0px;
}
